modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BPT3KdV4KSZLH7lJaIcNTwgEDzj2sLbGIBTVgB9FLVFwTNaczhi6NyCPdZUmTwmeH2f8ZIudsICouUJGhwF1hYw"
VAPID_PRIVATE_KEY = "bkJnotoiVBUL3gfwWscGD4Rj9MVhVg3m6p-C3LYmEus"
VAPID_SUBJECT = "mailto:ecoprin1332@gmail.com"
SUPABASE_URL = "https://mgfviqdxeupajntpylig.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nZnZpcWR4ZXVwYWpudHB5bGlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0NjgwNDksImV4cCI6MjA4NzA0NDA0OX0.zxca3lBfqHt4EQ1pFLGlDkZUQJY1iQXaZA0cOflJc18"
ADMIN_EMAIL = "ecoprin1332@gmail.com"
ADMIN_PASSWORD = "Tayman1332"
NETLIFY_SITE_ID = "191221a9-4dab-4004-87b4-5caccec33757"

[nix]
channel = "stable-25_05"
